# yFinance
Links for References used for this excercise: 
1. https://github.com/ranaroussi/yfinance
2. https://www.geeksforgeeks.org/python/multithreaded-download-of-yahoo-stock-history-with-python-yfinance/
3. For handling dates and time: 
    *  https://docs.python.org/3/library/datetime.html for calling date and time info
    *  https://stackoverflow.com/questions/32490629/getting-todays-date-in-yyyy-mm-dd-in-python for formatting the date info 
    *  https://www.geeksforgeeks.org/python/python-datetime-strptime-function/ for strptime changing Date and time into a string to be used in the filename
4. Saving dataframe to csv files https://www.datacamp.com/tutorial/save-as-csv-pandas-dataframe
5. Info about saving files into different directories in codespaces https://docs.github.com/en/codespaces/about-codespaces/deep-dive
6. Translate function for stripping out multiple characters from string filename https://www.geeksforgeeks.org/python/python-replace-multiple-characters-at-once/

## Problem 1: Data from yFinance

In [1]:
# import required modules 
import yfinance as yf
import time
import datetime
import pandas as pd
from pathlib import Path
import os

In [2]:
# define program start time and dates for use in calculations 
start= time.time()
today = datetime.date.today()
yesterday = today - datetime.timedelta(days=1)
fivedaysago = today - datetime.timedelta(days=5)

# Convert dates to string type data as is required by the yf.download function
strtoday = str(today)
strfivedaysago =str(fivedaysago)

#Checking the formats of the dates are correct
    #print (type(strtoday))
    #print (type(strfivedaysago))
print (f"Today's date is ",today)
print (f"Five days ago was ",fivedaysago)

Today's date is  2025-12-16
Five days ago was  2025-12-11

In [3]:
# Define a list of stocks to track
ticker_list =['META','AAPL','AMZN','NFLX','GOOG']

# Define path to root file
datadir = "./data/"# Problem 1: Data from yfinance

In [4]:
# Execute the yf.download operation and populating the data into a dataframe.  
data =yf.download( 
    start= strfivedaysago,
    end= strtoday,
    interval= '15m',
    tickers = ticker_list,
    threads=True,
    group_by='ticker',
    auto_adjust = True,
    )
type(data)

[*********************100%***********************]  5 of 5 completed

pandas.core.frame.DataFrame

In [5]:
# View the index
data.index

DatetimeIndex(['2025-12-11 14:30:00+00:00', '2025-12-11 14:45:00+00:00',
               '2025-12-11 15:00:00+00:00', '2025-12-11 15:15:00+00:00',
               '2025-12-11 15:30:00+00:00', '2025-12-11 15:45:00+00:00',
               '2025-12-11 16:00:00+00:00', '2025-12-11 16:15:00+00:00',
               '2025-12-11 16:30:00+00:00', '2025-12-11 16:45:00+00:00',
               '2025-12-11 17:00:00+00:00', '2025-12-11 17:15:00+00:00',
               '2025-12-11 17:30:00+00:00', '2025-12-11 17:45:00+00:00',
               '2025-12-11 18:00:00+00:00', '2025-12-11 18:15:00+00:00',
               '2025-12-11 18:30:00+00:00', '2025-12-11 18:45:00+00:00',
               '2025-12-11 19:00:00+00:00', '2025-12-11 19:15:00+00:00',
               '2025-12-11 19:30:00+00:00', '2025-12-11 19:45:00+00:00',
               '2025-12-11 20:00:00+00:00', '2025-12-11 20:15:00+00:00',
               '2025-12-11 20:30:00+00:00', '2025-12-11 20:45:00+00:00',
               '2025-12-12 14:30:00+00:00', '2025-12-12 14:45:00+00:00',
               '2025-12-12 15:00:00+00:00', '2025-12-12 15:15:00+00:00',
               '2025-12-12 15:30:00+00:00', '2025-12-12 15:45:00+00:00',
               '2025-12-12 16:00:00+00:00', '2025-12-12 16:15:00+00:00',
               '2025-12-12 16:30:00+00:00', '2025-12-12 16:45:00+00:00',
               '2025-12-12 17:00:00+00:00', '2025-12-12 17:15:00+00:00',
               '2025-12-12 17:30:00+00:00', '2025-12-12 17:45:00+00:00',
               '2025-12-12 18:00:00+00:00', '2025-12-12 18:15:00+00:00',
               '2025-12-12 18:30:00+00:00', '2025-12-12 18:45:00+00:00',
               '2025-12-12 19:00:00+00:00', '2025-12-12 19:15:00+00:00',
               '2025-12-12 19:30:00+00:00', '2025-12-12 19:45:00+00:00',
               '2025-12-12 20:00:00+00:00', '2025-12-12 20:15:00+00:00',
               '2025-12-12 20:30:00+00:00', '2025-12-12 20:45:00+00:00',
               '2025-12-15 14:30:00+00:00', '2025-12-15 14:45:00+00:00',
               '2025-12-15 15:00:00+00:00', '2025-12-15 15:15:00+00:00',
               '2025-12-15 15:30:00+00:00', '2025-12-15 15:45:00+00:00',
               '2025-12-15 16:00:00+00:00', '2025-12-15 16:15:00+00:00',
               '2025-12-15 16:30:00+00:00', '2025-12-15 16:45:00+00:00',
               '2025-12-15 17:00:00+00:00', '2025-12-15 17:15:00+00:00',
               '2025-12-15 17:30:00+00:00', '2025-12-15 17:45:00+00:00',
               '2025-12-15 18:00:00+00:00', '2025-12-15 18:15:00+00:00',
               '2025-12-15 18:30:00+00:00', '2025-12-15 18:45:00+00:00',
               '2025-12-15 19:00:00+00:00', '2025-12-15 19:15:00+00:00',
               '2025-12-15 19:30:00+00:00', '2025-12-15 19:45:00+00:00',
               '2025-12-15 20:00:00+00:00', '2025-12-15 20:15:00+00:00',
               '2025-12-15 20:30:00+00:00', '2025-12-15 20:45:00+00:00'],
              dtype='datetime64[ns, UTC]', name='Datetime', freq=None)

In [6]:
# view the data
data

Ticker                          NFLX                                   \
Price                           Open       High        Low      Close
Datetime
2025-12-11 14:30:00+00:00  93.855003  93.860001  92.760002  93.660004
2025-12-11 14:45:00+00:00  93.660004  93.839996  93.309998  93.774902
2025-12-11 15:00:00+00:00  93.779999  94.250000  93.639999  94.056503
2025-12-11 15:15:00+00:00  94.055000  94.510002  93.940002  94.394997
2025-12-11 15:30:00+00:00  94.394997  94.540001  94.070000  94.530098
...                              ...        ...        ...        ...
2025-12-15 19:45:00+00:00  93.790001  93.949997  93.730003  93.934998
2025-12-15 20:00:00+00:00  93.940002  93.940002  93.775002  93.794998
2025-12-15 20:15:00+00:00  93.799301  93.800003  93.599998  93.695000
2025-12-15 20:30:00+00:00  93.695000  93.709999  93.550003  93.584999
2025-12-15 20:45:00+00:00  93.584999  93.864998  93.570000  93.760002

Ticker                                     META                          \
Price                        Volume        Open        High         Low
Datetime
2025-12-11 14:30:00+00:00   4003793  642.729980  648.843628  640.794983
2025-12-11 14:45:00+00:00   1612414  648.808472  650.809998  646.229980
2025-12-11 15:00:00+00:00   1655275  648.770020  654.828979  648.289978
2025-12-11 15:15:00+00:00   1766816  654.219971  655.280029  652.340027
2025-12-11 15:30:00+00:00   1134885  652.539978  653.184998  650.549988
...                             ...         ...         ...         ...
2025-12-15 19:45:00+00:00    615703  651.309998  651.619995  650.590027
2025-12-15 20:00:00+00:00    643498  651.090027  651.539917  649.909973
2025-12-15 20:15:00+00:00    608493  651.195007  651.559875  650.210022
2025-12-15 20:30:00+00:00  10743596  651.049988  651.409973  649.929993
2025-12-15 20:45:00+00:00   2761527  650.549988  653.000000  647.125000

Ticker                                          ...        GOOG              \
Price                           Close   Volume  ...        Open        High
Datetime                                        ...
2025-12-11 14:30:00+00:00  648.804993   826732  ...  320.940002  321.989990
2025-12-11 14:45:00+00:00  648.719971   488445  ...  317.920013  318.089996
2025-12-11 15:00:00+00:00  654.263916   537532  ...  314.970001  316.489990
2025-12-11 15:15:00+00:00  652.609985   449854  ...  316.149994  317.859985
2025-12-11 15:30:00+00:00  650.710022   247265  ...  317.075012  317.890015
...                               ...      ...  ...         ...         ...
2025-12-15 19:45:00+00:00  651.145020   172977  ...  308.359985  308.959991
2025-12-15 20:00:00+00:00  651.169983   197940  ...  308.820007  309.441010
2025-12-15 20:15:00+00:00  650.994995   210533  ...  309.260010  309.429993
2025-12-15 20:30:00+00:00  650.585022   256160  ...  309.359985  309.510010
2025-12-15 20:45:00+00:00  647.500000  1067579  ...  308.665405  309.549988

Ticker                                                            AMZN  \
Price                             Low       Close   Volume        Open
Datetime
2025-12-11 14:30:00+00:00  317.000000  318.000000  1517073  230.710007
2025-12-11 14:45:00+00:00  314.529999  314.839996  1023066  231.669998
2025-12-11 15:00:00+00:00  314.519989  316.089996   639154  229.929993
2025-12-11 15:15:00+00:00  315.739990  317.059998   455180  231.050003
2025-12-11 15:30:00+00:00  316.570007  317.329987   346174  230.860001
...                               ...         ...      ...         ...
2025-12-15 19:45:00+00:00  308.150391  308.850006   229412  223.189896
2025-12-15 20:00:00+00:00  308.309998  309.250000   288958  223.240005
2025-12-15 20:15:00+00:00  309.029999  309.364990   308492  222.875000
2025-12-15 20:30:00+00:00  308.470001  308.660004   302999  222.690002
2025-12-15 20:45:00+00:00  308.609985  309.338989   832452  222.320007

Ticker
Price                            High         Low       Close   Volume
Datetime
2025-12-11 14:30:00+00:00  232.110001  229.419998  231.669998  2295260
2025-12-11 14:45:00+00:00  231.669998  229.610107  229.869995   933697
2025-12-11 15:00:00+00:00  231.169998  229.630005  231.059998   887837
2025-12-11 15:15:00+00:00  231.345001  230.699997  230.880005   560956
2025-12-11 15:30:00+00:00  231.039993  230.324997  230.600906   464902
...                               ...         ...         ...      ...
2025-12-15 19:45:00+00:00  223.330002  222.789993  223.244507   455755
2025-12-15 20:00:00+00:00  223.410004  222.839996  222.870193   577678
2025-12-15 20:15:00+00:00  223.005005  222.520096  222.664993   600891
2025-12-15 20:30:00+00:00  222.746506  222.250000  222.320007   703671
2025-12-15 20:45:00+00:00  222.720001  221.880005  222.550003  3494313

[78 rows x 25 columns]

In [7]:
# Get date and time information for file name into the correct format
now = datetime.datetime.now()
filename = now.strftime("%Y%m%d-%H%M%S")

print (filename)

20251216-221858

In [8]:
# display the datadir
print (f"path is ", datadir)

# Write data to csv file. 
data.to_csv(datadir+filename+".csv", sep=',')

path is  ./data/

In [9]:
# This segment allows for monitoring the time taken to complete the execution of the program. 
print ('The program takes ', time.time()-start,'seconds.')

The program takes  0.6800360679626465 seconds.

## Problem 2: Plotting Data

In [10]:
# Problem 2: Plotting Data
# https://stackoverflow.com/questions/43074685/find-file-in-directory-with-the-highest-number-in-the-filename for filename with highest number, as this will be the latest created file

# Import the Rational Expressions module (re). 
import re
import matplotlib 

# List all files in the directory data 
list_of_files = os.listdir(datadir)
#print (list_of_files)

# list newest file amother way
#os.listdir('./data/')
list_of_files.sort(reverse = True)

#show this list
list_of_files

['20251216-221858.csv',
 '20251207-235309.csv',
 '20251207-235150.csv',
 '20251207-235120.csv',
 '20251207 233754.csv',
 '20251207 230315.csv',
 '20251207 230227.csv',
 '20251207 230146.csv',
 '20251207 230134.csv',
 '20251207 225354.csv',
 '20251207 224213.csv',
 '20251207 224142.csv',
 '20251207 222436.csv',
 '20251207 222244.csv',
 '20251207 222059.csv',
 '20251207 220622.csv',
 '20251207 220332.csv',
 '20251207 220307.csv',
 '20251207 220132.csv',
 '20251207 215510.csv',
 '20251207 214855.csv',
 '20251207 214845.csv',
 '20251207 213858.csv',
 '20251207 213657.csv',
 '20251207 212741.csv',
 '20251206 215647.csv',
 '20251126 211628.csv',
 '20251011 125240.csv',
 '20251010 221236.csv',
 '20251010 220006.csv',
 '20251010 215932.csv',
 '20251010 214240.csv',
 '20251010 213904.csv',
 '20251010 213843.csv',
 '20251010 211542.csv',
 '20251010 211004.csv',
 '20251010 210410.csv',
 '20251010 210356.csv',
 '20251010 210256.csv',
 '20251010 150510.csv',
 '20251010 150415.csv',
 '20251010 145916.csv',
 '20251010 145322.csv',
 '20251010 145034.csv',
 '20251010 144404.csv',
 '20251010 144331.csv',
 '20251010 143014.csv',
 '20251009 222639.csv',
 '20251009 222548.csv']

In [11]:
# show the latest file
list_of_files[0]

'20251216-221858.csv'

In [12]:
# assign a variable name to the file selected as the latest file 
recent_file = list_of_files[0]
print(recent_file)

20251216-221858.csv

In [13]:
# create a dataframe from the file selected as most recent
df = pd.read_csv(f'./data/{list_of_files[0]}', header=[0, 1])

df

                       Ticker       NFLX                                   \
                        Price       Open       High        Low      Close
0                    Datetime        NaN        NaN        NaN        NaN
1   2025-12-11 14:30:00+00:00  93.855003  93.860001  92.760002  93.660004
2   2025-12-11 14:45:00+00:00  93.660004  93.839996  93.309998  93.774902
3   2025-12-11 15:00:00+00:00  93.779999  94.250000  93.639999  94.056503
4   2025-12-11 15:15:00+00:00  94.055000  94.510002  93.940002  94.394997
..                        ...        ...        ...        ...        ...
74  2025-12-15 19:45:00+00:00  93.790001  93.949997  93.730003  93.934998
75  2025-12-15 20:00:00+00:00  93.940002  93.940002  93.775002  93.794998
76  2025-12-15 20:15:00+00:00  93.799301  93.800003  93.599998  93.695000
77  2025-12-15 20:30:00+00:00  93.695000  93.709999  93.550003  93.584999
78  2025-12-15 20:45:00+00:00  93.584999  93.864998  93.570000  93.760002

                      META                                      ...  \
        Volume        Open        High         Low       Close  ...
0          NaN         NaN         NaN         NaN         NaN  ...
1    4003793.0  642.729980  648.843628  640.794983  648.804993  ...
2    1612414.0  648.808472  650.809998  646.229980  648.719971  ...
3    1655275.0  648.770020  654.828979  648.289978  654.263916  ...
4    1766816.0  654.219971  655.280029  652.340027  652.609985  ...
..         ...         ...         ...         ...         ...  ...
74    615703.0  651.309998  651.619995  650.590027  651.145020  ...
75    643498.0  651.090027  651.539917  649.909973  651.169983  ...
76    608493.0  651.195007  651.559875  650.210022  650.994995  ...
77  10743596.0  651.049988  651.409973  649.929993  650.585022  ...
78   2761527.0  650.549988  653.000000  647.125000  647.500000  ...

          GOOG                                                       AMZN  \
          Open        High         Low       Close     Volume        Open
0          NaN         NaN         NaN         NaN        NaN         NaN
1   320.940002  321.989990  317.000000  318.000000  1517073.0  230.710007
2   317.920013  318.089996  314.529999  314.839996  1023066.0  231.669998
3   314.970001  316.489990  314.519989  316.089996   639154.0  229.929993
4   316.149994  317.859985  315.739990  317.059998   455180.0  231.050003
..         ...         ...         ...         ...        ...         ...
74  308.359985  308.959991  308.150391  308.850006   229412.0  223.189896
75  308.820007  309.441010  308.309998  309.250000   288958.0  223.240005
76  309.260010  309.429993  309.029999  309.364990   308492.0  222.875000
77  309.359985  309.510010  308.470001  308.660004   302999.0  222.690002
78  308.665405  309.549988  308.609985  309.338989   832452.0  222.320007


          High         Low       Close     Volume
0          NaN         NaN         NaN        NaN
1   232.110001  229.419998  231.669998  2295260.0
2   231.669998  229.610107  229.869995   933697.0
3   231.169998  229.630005  231.059998   887837.0
4   231.345001  230.699997  230.880005   560956.0
..         ...         ...         ...        ...
74  223.330002  222.789993  223.244507   455755.0
75  223.410004  222.839996  222.870193   577678.0
76  223.005005  222.520096  222.664993   600891.0
77  222.746506  222.250000  222.320007   703671.0
78  222.720001  221.880005  222.550003  3494313.0

[79 rows x 26 columns]

In [14]:
# Create a dataframe that only contains the closing prices for each stock for each day
closing_prices = (df['Price']== "Close")
close_df = df.loc[closing_prices]
print (close_df)

KeyError: 'Price'

In [ ]:
#Read a unique label for each unique stock label from column labelled 'Ticker'
unique_stock = df['Ticker'].unique()
print(unique_stock)

df1 = df[df['Ticker'] == unique_stock[0]] #Netflix
df2 = df[df['Ticker'] == unique_stock[1]] #Apple
df3 = df[df['Ticker'] == unique_stock[2]] #Amazon
df4 = df[df['Ticker'] == unique_stock[3]] #Meta
df5 = df[df['Ticker'] == unique_stock[4]] #Google

# print each individual stock
print (df1)
print (df2)
print (df3)
print (df4)
print (df5)


#date = yesterday
#print (date)

#plot
ax = matplotlib.pyplot.gca()
close_df.plot( x = '2025-10-09', y=['NFLX', 'AAPL', 'AMZN', 'META', 'GOOG'] , ax = ax )

['GOOG' 'META' 'AMZN' 'NFLX' 'AAPL']
  Ticker   Price    2025-12-02    2025-12-03    2025-12-04    2025-12-05
0   GOOG    Open  3.169000e+02  3.160300e+02  3.230450e+02  3.200000e+02
1   GOOG    High  3.186000e+02  3.220400e+02  3.230990e+02  3.238300e+02
2   GOOG     Low  3.142200e+02  3.142800e+02  3.155900e+02  3.199800e+02
3   GOOG   Close  3.160200e+02  3.206200e+02  3.183900e+02  3.220900e+02
4   GOOG  Volume  2.466820e+07  3.228510e+07  2.083160e+07  1.569370e+07
  Ticker   Price    2025-12-02    2025-12-03    2025-12-04    2025-12-05
5   META    Open  6.423400e+02  6.444100e+02  6.760000e+02  6.640000e+02
6   META    High  6.478700e+02  6.488500e+02  6.761000e+02  6.746900e+02
7   META     Low  6.380700e+02  6.375500e+02  6.600500e+02  6.623900e+02
8   META   Close  6.471000e+02  6.396000e+02  6.615300e+02  6.734200e+02
9   META  Volume  1.164090e+07  1.113430e+07  2.987460e+07  2.116690e+07
   Ticker   Price    2025-12-02    2025-12-03    2025-12-04    2025-12-05
10   AMZN    Open  2.350100e+02  2.333500e+02  2.327700e+02  2.303200e+02
11   AMZN    High  2.389700e+02  2.333800e+02  2.335000e+02  2.312400e+02
12   AMZN     Low  2.335500e+02  2.306100e+02  2.268000e+02  2.285500e+02
13   AMZN   Close  2.344200e+02  2.323800e+02  2.291100e+02  2.295300e+02
14   AMZN  Volume  4.578540e+07  3.549510e+07  4.568320e+07  3.307550e+07
   Ticker   Price    2025-12-02    2025-12-03    2025-12-04    2025-12-05
15   NFLX    Open  1.092100e+02  1.065900e+02  1.035700e+02  9.878000e+01
16   NFLX    High  1.097300e+02  1.068700e+02  1.038000e+02  1.047900e+02
17   NFLX     Low  1.075200e+02  1.020300e+02  1.017700e+02  9.774000e+01
18   NFLX   Close  1.093500e+02  1.039600e+02  1.032200e+02  1.002400e+02
19   NFLX  Volume  2.576300e+07  5.359340e+07  5.177910e+07  1.331772e+08
   Ticker   Price    2025-12-02    2025-12-03    2025-12-04    2025-12-05
20   AAPL    Open  2.830000e+02  2.862000e+02  2.841000e+02  2.805400e+02
21   AAPL    High  2.874000e+02  2.886200e+02  2.847300e+02  2.811400e+02
22   AAPL     Low  2.826300e+02  2.833000e+02  2.785900e+02  2.780500e+02
23   AAPL   Close  2.861900e+02  2.841500e+02  2.807000e+02  2.787800e+02
24   AAPL  Volume  5.366950e+07  4.353870e+07  4.398910e+07  4.724400e+07

AttributeError: module 'matplotlib' has no attribute 'pyplot'

In [ ]:
# define a plot for the closing price over the last 5 days
#ax=close_df.plot(kind = 'line', x = '2025-10-09', y = 'NFLX', marker = '.', c = 'red' , label = 'Netflix')
#pt.show()

# Create the plot_data() function
#def plot_data():
    #function goes here.
    #gibberish

#plot_data()

## End